img.logo {
  display:block;
  height:52px;
  width:auto;
  margin:10px 0;
}

.menu {
  font-size:100%;
}

ol, ul {
  list-style:none;
  padding-left:0px;
}

.menu li {
  color:#d0bd7e;
  text-align:left;
  border-top:1px solid rgb(95, 94, 76);
  border-bottom:none;
}

.menu a {
  color:#b3b1a4;
  font-size:13px;
  display:block;
  padding:0 10px 0 0;
}

a {
  outline:none;
  text-decoration:none;
}

.menu h2 {
  font-size:16px;
  font-weight:normal;
  text-transform:uppercase;
  margin-top:10px;
}

li {
  display:list-item;
  margin:0;
  padding:0;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
  width:100%;
  display:block;
}

.carousel-caption h2 {
  text-align:center;
  font-size:18px;
  color:#d0bd7e;
}

.carousel-caption {
  position:relative;
  left:auto;
  right:auto;
}

.carousel-control.left, .carousel-control.right {
  background-image:none;
}

.container.content {
  border-top:#d0bd7e 4px solid;
}

.book {
  padding-top:20px;
}

.alt {
  color:#7d7c61;
}

h3.alt {
  color:#fff;
  margin-bottom:5px;
}

.container.footer {
  margin-top:15px;
  border-bottom:#d0bd7e 4px solid;
}

.media-body, .media-left, .media-right {
  border-top:1px solid rgb(95, 94, 76);
  padding-top:5px;
}

.media-body a {
  color:#b3b1a4;
}

.media-heading {
  text-transform:uppercase;
}

.display-table {
  display:table;
  table-layout:fixed;
}

.display-cell {
  display:table-cell;
  vertical-align:middle;
  float:none;
}

